* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    /**/
}

:root {
    --bg-color: #fff;
    --text-color: #221314;
    --second-color: #5a7184;
    --main-color: #6e54fa;
    --big-font: 6rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 30px 18%;
    transition: ease .40s;
}

.logo {
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #000;
}

.navbar {
    display: flex;
}

.navbar a {
    color: #000;
    font-size: var(--p-font);
    font-weight: 500;
    padding: 10px 22px;
    border-radius: 4px;
    transition: ease .40s;
}

.navbar a:hover {
    background: var(--bg-color);
    color: var(--text-color);
    box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
    border-radius: 4px;
}

#menu-icon {
    color: var(--text-color);
    font-size: 30px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

section {
    padding: 80px 18%;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../img/banner2.jpg);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}

.home-text h1 {
    font-size: var(--big-font);
    line-height: 1.2;
    color: var(--bg-color);
    font-family: 'Paytone One', sans-serif;
    letter-spacing: 4px;
    margin-bottom: 20px;
}

.home-text p {
    color: #ffffffbf;
    font-size: 20px;
    font-weight: 400;
    line-height: 38px;
    margin-bottom: 50px;
}

.home-btn {
    display: inline-block;
    font-size: 16px;
    padding: 15px 30px;
    background: #ffffffbf;
    color: var(--main-color);
    border-radius: 4px;
    transition: ease .40s;
}

.home-btn:hover {
    background: var(--bg-color);
    transform: scale(1.1);
}

header.sticky {
    background-color: var(--bg-color);
    padding: 10px 18%;
    box-shadow: rgb(35, 35, 38, 0.1) 0px 10px 10px -10px;
}

.sticky .logo {
    color: var(--text-color);
}

.sticky .navbar a {
    color: var(--text-color);
}

.text h2 {
    font-size: var(--h2-font);
    line-height: 1.1;
}

.row-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    grid-gap: 2rem;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
}

.container-box {
    background: var(--bg-color);
    border: 1px solid blue;
    padding: 50px 10px;
    border-radius: 4px;
    transition: all 1s ease 0s;
    cursor: pointer;
}

.container-img img {
    height: 160px;
    width: 160px;
    padding: 15px;
    background: var(--bg-color);
    box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
    border-radius: 4px;
    margin-bottom: 15px;
    cursor: pointer;
}

.container-box h4 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 8px;
}

.container-box p {
    font-size: 15px;
    color: var(--second-color);
}

.container-box:hover {
    box-shadow: 5px 30px 30px rgb(55 55 55 / 12%);
    border: 1px solid transparent;
    transform: translateY(-3px);
}

.title {
    text-align: center;
}

.title h2 {
    font-size: var(--h2-font);
    line-height: 1.2;
}

.card-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 5rem;
}

.thum {
    position: relative;
    transition: all .3s cubic-bezier(.455, .05, .55, .95);
    will-change: filter;
    cursor: pointer;
}

.thum img {
    width: 100%;
    height: auto;
}

.thum .about-img {
    width: 100%;
    height: 30%;
}

.thum:hover {
    transform: scale(1.07);
}

.thum h3 {
    position: absolute;
    font-size: 30px;
    font-weight: 600;
    text-align: right;
    color: red;
    top: 36px;
    right: 40px;
}

.dest-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
}

.stars i {
    color: var(--main-color);
    font-size: 20px;
}

.name h4 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 8px;
}

.name p {
    font-size: 24px;
    color: var(--second-color);
}

#contact {
    background: var(--main-color);
}

.main {
    display: flex;
    flex-wrap: wrap;
}

.footer {
    padding: 20px 0;
}

.list {
    width: 25%;
}

.list h4 {
    font-size: 21px;
    color: var(--bg-color);
    margin-bottom: 30px;
    position: relative;
}

.list h4::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 150px;
    left: 0;
    bottom: -10px;
    background: var(--bg-color);
}

.list ul li:not(last-child) {
    margin-bottom: 16px;
}

.list ul li a {
    color: #fff;
    font-size: var(--p-font);
    display: block;
    transition: .3s;
}

.list ul li a:hover {
    color: var(--bg-color);
    transform: translateX(14px);
}

.list .social a {
    height: 40px;
    width: 40px;
    background: var(--bg-color);
    color: var(--main-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    border-radius: 15px;
    margin-right: 10px;
}

.list .social a:hover {
    transform: scale(1.1);
}

.footer-text {
    text-align: center;
    padding-top: 90px;
}

.footer-text p {
    color: var(--bg-color);
    font-size: 17px;
    letter-spacing: 2px;
}

.footer-text a {
    color: var(--bg-color);
    font-size: 17px;
    letter-spacing: 2px;
}

.lorem {
    color: red;
}

.img_about {
    width: 300%;
    margin-right: 115px;
    margin-top: 70px;
}

#id_about {
    width: 47%;
    float: left;
}

.div-about {
    width: 57%;
    float: left;
    text-align: justify;
}

@media(max-width:1400px) {
    header {
        padding: 17px 3%;
        transition: .2s;
    }

    header.sticky {
        padding: 10px 3%;
        transition: .2s;
    }

    section {
        padding: 80px 3%;
        transition: .2s;
    }

    :root {
        --big-font: 4.5rem;
        --h2-font: 2.3rem;
        --p-font: 1rem;
        transition: .2s;
    }
}

@media(max-width:1040px) {
    #menu-icon {
        display: block;
    }

    .stick #menu-icon {
        color: var(--text-color);
    }

    .home {
        height: 88vh;
    }

    .navbar {
        position: absolute;
        top: 0;
        right: -100%;
        width: 270px;
        height: 120vh;
        background: #1067cc;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 150px 30px;
        transition: 0.5s all;
    }

    .navbar a {
        display: block;
        margin: 1.2rem 0;
    }

    .sticky .navbar a {
        color: var(--bg-color);
    }

    .navbar a:hover {
        color: var(--text-color);
    }

    .open {
        right: 0;
    }

    .list {
        width: 50%;
        margin-bottom: 12px;
    }
}

@media(max-width:575px) {
    .list {
        width: 100%;
    }
}

input {
    margin-bottom: 15px;
    font-size: 17px;
    width: 97%;
    margin-left: 10px;
}

textarea {
    font-size: 27px;
    width: 97%;
    margin-bottom: 15px;
    margin-left: 10px;
}

button {
    font-size: 25px;
    width: 25%;
    height: 40px;
    color: white;
    background-color: blue;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 10px;

}

button:hover {
    font-size: 25px;
    width: 25%;
    height: 40px;
    color: white;
    background-color: blue;
    border-radius: 8px;
    cursor: pointer;
    background-image: linear-gradient(blue, red, green)
}
.text_contact {
    text-align: justify;
}


@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {box-sizing: border-box;}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 10px;
  transition: background 0.2s linear;
}

body.dark {background-color: #292c35;} /* #9b59b6 */

body.dark h1,body.dark h2,body.dark h4, body.dark .support a {color: #fff;}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {color: #f1c40f;}

.fa-sun {color: #f39c12;}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}